<h1>My purchase history</h1>

<% @purchases.each do |p| %>
    <h3><%=p.game.name%></h3>
    <p>$<%=p.price%></p>
    <% # link_to "See receipt", "#{p.receipt_url}", target: :_blank %>
    <br>
<% end %>