
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bored-Games</h1>
        <p class="lead text-muted">Got some old games that you no longer play? Or maybe you're searching for something to play?</p>
        <p class="lead text-muted">We've got the marketplace for you. A dedicated site for handling local boardgames sales</p>
        <p>
          <a href="<%= games_path %>" class="btn btn-primary my-2">Search games</a>
          
          <a href="<%= new_game_path %>" class="btn btn-secondary my-2">Sell a game</a>
        </p>
      </div>
    </div>
  </section>
</main>